.top .BlkContent{
	position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
	overflow: hidden;
}
.BlkContent{
  position: relative;
  width: 100%;
  height: 100vh;
	overflow: hidden;
	&__inner{
		margin-top: -30px;
	}
}

