h1{
  font-family: 'Oswald', sans-serif;
  color:#fff;
  font-weight: bold;
  font-size:48px;
  line-height: 1.2;
  text-align: center;
  display: block;
  .katagaki{
    font-family: 'Oswald', sans-serif;
    display: block;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    padding-top: 25px;
  }
  & > span:nth-child(1) {
    opacity: .5;
    font-weight: 800;
    animation: neonBlink 5s infinite;
  }
  & > span:nth-child(2) {
    opacity: .5;
    font-weight: 800;
    animation: neonBlink 5s infinite;
  }
}
@keyframes neonBlink {
  0% { opacity: 1; }
  10% { opacity: .6; }
  12% { opacity: 1; }
  15% { opacity: .4; }
  17% { opacity: 1; }
  18% { opacity: .3; }
  19% { opacity: 1; }
  89% { opacity: 1; }
  91% { opacity: .7; }
  94% { opacity: 1; }
  100% { opacity: 1; }
}
@keyframes neonBlur {
  0% { text-shadow: 0px 0px 25px #FF0080; }
  50% { text-shadow: 0px 0px 75px #FF0080; filter: blur(0.5px) }
  100% { text-shadow: 0px 0px 25px #FF0080; }
}
